body {
  font-family: "Poppins", sans-serif;
}

.first {
}

.tenthousand {
  font-size: 50px;
  color: hsl(300, 43%, 22%);
  font-weight: bolder;
}

.container {
  font-size: 18px;

  padding-top: 40px;
  color: hsla(300, 43%, 22%, 0.733);
  font-weight: 600;
  line-height: 28px;
}

.flexbox {
  display: flex;
}

.star {
  margin-left: 300px;
}

.rated1 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  height: 50px;
  width: 480px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rated2 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  height: 50px;
  width: 500px;
  text-align: center;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rated3 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  height: 50px;
  width: 500px;
  text-align: center;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.image-icon1 {
}

span {
  margin-left: 25px;
}

.last-try {
  margin-top: 40px;
  background-color: hsl(300, 43%, 22%);
  height: 270px;
  width: 450px;
  border-radius: 10px;
  padding-top: 5px;
}

.first-box {
  margin-top: 100px;
  color: white;
  display: flex;
  margin-top: 10px;
}

.image-colton {
  border-radius: 200px;
  height: 70px;
  width: 70px;
  margin-top: 30px;
  margin-left: 30px;
}

.flexbox1 {
  margin-left: 20px;
  line-height: 10px;
  margin-top: 40px;
}

.verified {
  color: hsl(333, 80%, 67%);
}
.first-paragraph {
  background-color: hsla(300, 43%, 22%, 0.432);
  color: hsl(0, 0%, 100%);
  margin-top: 40px;
  line-height: 25px;
  margin-left: 20px;

  font-size: 16px;
}

.second-try {
  margin-top: 70px;
  background-color: hsl(300, 43%, 22%);
  height: 270px;
  width: 450px;
  border-radius: 10px;
  margin-left: 60px;
}

.verified2 {
  color: hsl(333, 80%, 67%);
}

.second-paragraph {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  margin-top: 40px;
  line-height: 25px;
  margin-left: 20px;
  font-size: 16px;
}

.image-rene {
  border-radius: 70px;
  margin-top: 10px;
  margin-left: 20px;
}

.irene-roberts {
  color: rgba(255, 255, 255, 0.829);
  line-height: 15px;
  margin-left: 20px;
  margin-top: 15px;
}

.container {
  display: flex;
}

.third-try {
  margin-top: 100px;
  background-color: hsl(300, 43%, 22%);
  height: 270px;
  width: 450px;
  border-radius: 10px;
  margin-left: 80px;
}

.container2 {
  display: flex;
}

.anne-icone {
  border-radius: 70px;
  margin-top: 35px;
  margin-left: 19px;
}

.anne-wallace {
  color: white;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 49px;
}

.verified3 {
  color: hsl(333, 80%, 67%);
}

.third-paragraph {
  margin-top: 30px;

  border-radius: 10px;
  color: white;
  line-height: 20px;
  margin-left: 20px;
}

.overall {
  display: flex;
}

.althaf {
  flex-direction: row;
}

@media (max-width: 768px) {
  .tenthousand {
    font-size: 70px;
    margin-left: 25px;
    text-align: center;
  }

  .container {
    font-size: 17px;
    padding-top: 20px;
    margin-left: 10px;
    text-align: center;
  }

  .flexbox {
    flex-direction: column;
    align-items: center;
  }

  .star {
    margin: 0;
  }

  .rated1,
  .rated2,
  .rated3 {
    font-size: 15px;
    width: 110%;
    margin: 0;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 15;
    height: 40px;
  }

  .last-try,
  .second-try,
  .third-try {
    width: 96%;
    border-radius: 5;
    margin: 20px 0;
    margin-left: 20px;
  }

  .image-icon1,
  .image-icon2,
  .image-icon3 {
    width: 20px;
    height: 25;
  }

  .image-colton,
  .image-rene,
  .anne-icone {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .image-rene {
    margin-top: 10px;
  }
  .anne-icone {
    margin-top: 40px;
  }

  .flexbox1,
  .irene-roberts,
  .anne-wallace {
    margin-left: 10;
    text-align: center;
  }

  .verified,
  .verified2,
  .verified3 {
    margin-top: 10px;
  }

  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    margin-top: 20px;
    background-color: hsla(300, 43%, 22%, 0.432);
    color: hsl(0, 0%, 100%);
    line-height: 22px;
    margin-left: 0;
    font-size: 14px;
    text-align: center;
    height: 40px;
  }

  .overall {
    flex-direction: column;
  }
}
